@use "../abstract/" as a;

#root {
  position: relative;
  height: 100%;
}

.base-root {
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
}

#navbar {
  border-radius: a.$container-border;
  grid-area: navbar;
  height: 3rem;
}

#sidebar {
  @include a.flexColumn;
  align-items: center;
  border-radius: a.$container-border;
  grid-area: sidebar;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(
      180deg,
      rgba(202, 202, 202, 0.2) 0%,
      rgba(92, 92, 92, 0.1) 66.63%,
      rgba(82, 82, 82, 0.2) 100%
    );
  border: 1px solid black;
  box-shadow: 0 0.5rem 0.5rem 0 black;
  width: 17rem;
  padding: 1rem 0;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: a.$container-border;
  grid-area: main;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(
      180deg,
      rgba(119, 118, 118, 0.2) 0%,
      rgba(142, 141, 141, 0.1) 71.72%,
      rgba(84, 79, 79, 0.2) 100%
    );
  border: 1px solid black;
  box-shadow: 0 0.5rem 0.5rem 0 black;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: a.$container-border;
  grid-area: footer;
  padding: 0 1rem;
  height: 5rem;
}
