@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexRowReverse {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
